<!-- Feature Section -->
<div class="text-center">
  <h2 class="text-3xl font-bold text-gray-800 mb-4">Featured Fresh Vegetables</h2>
  <p class="text-gray-600 mb-12">
    Discover our handpicked selection of fresh, seasonal vegetables. Perfect for healthy meals and delicious recipes.
  </p>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-10">
  <template x-for="product in products.sort(() => 0.5 - Math.random()).slice(0, 3)" :key="product.id">
    <div x-data="{ show: false }" x-init="setTimeout(() => show = true, 100 * product.id)">
      <div x-show="show" x-transition:enter="transition-transform transition-opacity"
        x-transition:enter-start="translate-y-2 opacity-0" x-transition:enter-end="translate-y-0 opacity-100">
        <!-- Product Card -->
        <div class="bg-gray-100 rounded-lg shadow-lg">
          <!-- Product Image -->
          <div class="p-2">
            <img :src="product.image" alt="product image" class="rounded-lg w-full h-40 object-cover">
          </div>

          <!-- Product Details -->
          <div class="relative -mt-5 bg-white bg-opacity-25 backdrop-blur-sm shadow-md rounded-lg min-h-[150px]">
            <!-- Card Header -->
            <div class="rounded-t p-4 pb-0">
              <h3 class="text-xl font-semibold text-gray-700" x-text="product.name"></h3>
            </div>

            <!-- Product Description -->
            <div class="p-4">
              <p class="text-gray-700" x-text="product.description"></p>
            </div>
          </div>

          <!-- Card Footer -->
          <div class="bg-gray-200 rounded-b p-3">
            <form @submit.prevent class="flex justify-between">
              <button class="bg-green-700 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
                @click="addToCart(product.id, product.quantity)">
                Add to Cart
              </button>
              <input type="number" class="border border-gray-300 p-2 rounded w-20" min="1" x-model="product.quantity">
              <span class="text-gray-700 font-bold text-3xl"
                x-text="'$'+ calculatePrice(product.price, product.quantity)"></span>
            </form>
          </div>
        </div>
        <!-- End Product Card -->
      </div>
    </div>
  </template>
</div>