<nav class="bg-green-800 text-white p-4 flex justify-between fixed top-0 left-0 right-0 z-50">
  <div class="w-full max-w-[1270px] mx-auto py-2 flex justify-between">
    <!-- Left side nav -->
    <div class="flex items-center">
      <a @click="navigate('home')" class="text-3xl font-bold cursor-pointer" x-text="apptitle"></a>
    </div>

    <!-- Right side nav -->
    <div class="flex items-center space-x-4">
      <a class="cursor-pointer hover:text-gray-300 transition-colors"
        :class="{'underline font-bold': currentScreen === 'home'}" @click="navigate('home')">Home</a>

      <!-- checkout -->
      <a class="cursor-pointer hover:text-gray-300 transition-colors"
        :class="{'underline font-bold': currentScreen === 'checkout'}" @click="navigate('checkout')">Checkout</a>

      <a class="cursor-pointer hover:text-gray-300 transition-colors"
        :class="{'underline font-bold': currentScreen === 'about'}" @click="navigate('about')">About</a>
      <a class="cursor-pointer hover:text-gray-300 transition-colors"
        :class="{'underline font-bold': currentScreen === 'shop'}" @click="navigate('shop')">Shop</a>
      <a class="cursor-pointer hover:text-gray-300 transition-colors"
        :class="{'underline font-bold': currentScreen === 'faq'}" @click="navigate('faq')">FAQ</a>
      <a class="cursor-pointer hover:text-gray-300 transition-colors"
        :class="{'underline font-bold': currentScreen === 'contact'}" @click="navigate('contact')">Contact</a>

      <!-- Cart Icon -->
      <div class="relative">
        <a class="cursor-pointer hover:text-gray-300 transition-colors"
          :class="{'underline font-bold': currentScreen === 'cart'}" @click="navigate('cart')">
          <i class="fas fa-shopping-cart text-2xl"></i>
        </a>
        <span x-show="cartItems.length > 0"
          class="absolute -top-2 -right-2 bg-[#ef8203] text-white rounded-full text-xs font-bold px-2 py-1"
          x-text="cartItems.length"></span>
      </div>
      <!-- Cart Icon -->

    </div>
  </div>
</nav>