<div x-transition:enter="transition-transform transition-opacity ease-out duration-300"
  x-transition:enter-start="translate-y-2 opacity-0" x-transition:leave="transition ease-in duration-100"
  x-transition:leave-end="opacity-0" class="relative" id="_custom_toast" x-show="RemoveFromCartToast">
  <div id="toast-simple"
    class="flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
    role="alert">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#EF4444" viewBox="0 0 20 20">
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
    </svg>
    <span class="sr-only">Check icon</span>
    <div class="pl-4 text-sm font-bold"> Remove from cart successfully</div>
  </div>
</div>